* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: #f1f1f1;
    line-height: 1.7;
}

header {
    background-color: #1C3B55;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Cinzel Decorative', serif;
    color: #00bcd4;
    font-size: 26px;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 10px;
}

h2 {
    font-family: 'Cinzel Decorative', serif;
    color: #00bcd4;
    margin-top: 25px;
}

p {
    font-family: 'Crimson Pro', serif;
    margin-top: 10px;
    color: #ddd;
}

footer {
    text-align: center;
    padding: 20px;
    color: #aaa;
    font-size: 14px;
}
